fastapi
uvicorn
python-dotenv
pydantic
sqlalchemy
psycopg2-binary
pypdf
python-docx
langchain
langchain-text-splitters
sentence-transformers
chromadb
langgraph
langchain-openai
langchain-groq
requests
python-jose[cryptography]
passlib[bcrypt]
